{% extends 'base.html'%}

{%block title%}Categories{%endblock title%}

{%block content%}
    <main>
        <h1>My Accounts</h1>
        <table class = "accounts_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for account in account_list%}
                <tr>
                    <td>{{account.name}}</td>
                    <td>{{account.number}}
                    <td>{{account.receipts.all |length}}
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </main>
{%endblock content%}
